<div class="animated fadeIn">

  <div class="d-flex flex-wrap">
    <h3 class="text-secondary">Commits List</h3>
    
    <div class="search-form">
      <form class="my-2 my-lg-0 ">
        <input 
         #searchTerm 
         class="form-control mr-sm-2" 
         (keyup)="search(searchTerm.value)" 
         (keydown)="checkEnter($event)"
         type="search" 
         placeholder="Search" 
         aria-label="Search"
         >
        <!-- <button onclick="search()" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button> -->
      </form>

    </div>
    
  </div>
  <hr>
  
  <app-loading *ngIf="loading"></app-loading>
  
  <table class="table table-hover" *ngIf="!loading">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Author</th>
          <th scope="col">Message</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commit of searchCommits; let i = index">
          <th scope="row">{{ i +1  }}</th>

          <td role="button" [swal]="showAuthor">
              <img [src]="commit.author.avatar_url" class="img-author" width="30" height="30" alt="Author Image"> 
              {{ commit.author.login }}
              
              <swal
                #showAuthor
                title="Author Information: "
                imageUrl="{{ commit.author.avatar_url }}"
                imageWidth="150"
                imageHeight="150"
                
                html="
                  <ul class='text-left ml-2'>
                    <li><strong>Name</strong>:  {{ commit.commit.author.name }}</li>
                    <li><strong>Username</strong>:  {{ commit.author.login }}</li>
                    <li><strong>Email</strong>:  {{ commit.commit.author.email }}</li>
                    <li><strong>Github url</strong>: {{ commit.author.html_url }} </li>
                  </ul>
                "
                icon="info"
                [focusCancel]="true"
                >
              </swal>
          </td>


          <td class="text-secondary">{{ commit.commit.message }}</td>
          
          <td>{{ commit.commit.author.date | date:'medium' }}</td>
        </tr>
      </tbody>
    </table>
</div>
